.social_container{

}
.social_network{
	font-size: 80px;
    color: #212529;
    margin-left: 20px;
    margin-right: 20px;
		-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms !important;
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms !important;
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms !important;
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms !important;
}
.social_network:hover{
	color:white;
	-webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms !important;
-moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms !important;
-o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms !important;
transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1) 10ms !important;

}
.bg-dark {
    background-color: #fecd01 !important;
}
.button_yellow{
	color: #fecd01;
	margin-left: 20px;
	margin-right: 20px;
}

footer{
	text-align: center;
	height: 60px;
	background-color: #343a40;
	color:white;
	line-height: 60px;
}
.festival{
	    background: #fecd01;
    color: black !important;
    font-size: 20px !important;
    border-radius: 30px;
}
